DB_NAME=mam_db
DB_USER=mam_user
DB_PASSWORD=mam_password
DB_HOST=mysql
DB_PORT=3306

SECRET_KEY=change_me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tonadresse@gmail.com
EMAIL_HOST_PASSWORD=ton_mot_de_passe_application
DEFAULT_FROM_EMAIL=your_email@gmail.com
CONTACT_NOTIFICATION_EMAIL=contact@mam-aventuriers.fr